@model Mvctutorial.Models.Domain.Person;

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-1">
    Persons page
</h1>

<div>
    <h1 class="h1 mt-5">
        Feel free to Add a new Person, <br>
        see details of added persons, <br>
        Edit the person's details and finally, <br>
        Delete and person of your choice.

    </h1>
</div>



